:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/public/img/Textura\ de\ Parede.png);
  min-height: 100vh;
}